/* Grid dimensions should be 6x6 px for each cell*/
.level {
  width: 1920px;
  height: 1080px;
  background-color: black;
  display: block;
  min-height: 100vh;
}

.level__content {
  display: flex;
  margin: 0 auto;
  width: 720px;
  min-height: 100vh;
  box-sizing: content-box;
  font-family: "Joystix Monospace", Courier, monospace;
  color: white;
  background-color: blue;
}

.header {
  width: 100%;
  height: 10px;
  font-family: "Joystix Monospace", Courier, monospace;
  font-size: 24px;
}

.heading {
  font-family: "Joystix Monospace", Courier, monospace;
}

h2 {
  font-size: 30px;
}

.pacman {
  visibility: hidden;
}

.ghost {
  visibility: hidden;
}

.special-items {
  visibility: hidden;
}

.pacman-lives {
  visibility: hidden;
}

.collected-items {
  visibility: hidden;
}
